<div class="split left">
  <div class="card" id="city">
    <div class="card-body">Select city</div>
    <div class="search">
    <%= form_with :url => {:action => 'search', :contoller => 'tweet'},  method: :get  do |f| %>
      <%=  f.select :city, City.pluck(:name),{prompt:'city'} , {class: "form-select"} %><br/>
      <%=  f.select :resource, Resource.pluck(:name),{prompt:'Resource'} , {class: "form-select"} %><br/ >
      <%= f.submit "Submit" %>
    <% end %>
    </div>
    <%= render partial: "city", collection: @cities %><br>
  </div>

  <div class="card" id="resource">
    <div class="card-body"></div>
    <%= render partial: "resource", collection: @resources %>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div id='search'></div>
  </div>
</div>

