<div class="card" id="center">
  <table class="table  table-striped">
    <tr>
      <th>Center Name</th>
      <th><%= Date.today.strftime("%B %d") %></th>
      <th><%= Date.today + 1.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 2.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 3.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 4.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 5.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 6.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 7.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 8.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 9.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 10.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 11.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 12.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 13.days).try(:strftime, ("%B %e") %></th>
      <th><%= Date.today + 14.days).try(:strftime, ("%B %e") %></th>
    </tr>
      <% @center.each do |center| %>
      <tr>
      <td style="color:blue;"><%= center["name"] %></td>      
      <% center["sessions"].each do |session| %>
      <td>
        <%= session["available_capacity"]%>(<%= session["min_age_limit"]%>+)
      </td>
      <%end%>
      </tr>
      <% end %>
  </table>
</div>
</div>
<a style="float:right;margin-top:1cm;"<%= link_to "Book your Slot", "https://selfregistration.cowin.gov.in/", target: :blank ,class: "button"  %></a>