<b><p style="margin-top:1.7cm;margin-left:1cm;"><%= Resource.find(params[:resource_id]).name.titlecase %> in <%="#{params[:city].titlecase}" %></p></b>
<% @tweets.each do |tweet| %>
  <div class="card" id="tweet">
    <div class="card-body">
    <%= link_to "#{tweet.url}",  target: :_blank do %>
      <span class="fa fa-twitter" style="font-size:24px;color:#00acee; float: right;"></span>
    <% end %>
      <div>
        <%= image_tag("#{tweet.user.profile_image_url}", class:"img") %>
      </div>
      <div>       
        <b><%= tweet.user.name.titlecase %></b><br>
        <%= link_to "@#{tweet.user.screen_name}", "#{tweet.user.url}", target: :_blank %>
      </div><br> 
      <p><%= tweet.full_text %></p>
      <% if tweet.media.first.nil? %>
      <% else %>
        <% tweet.media.each do |media| %>
          <%= link_to "#{media.media_url}",target: :_blank do %>
            <%= image_tag("#{media.media_url}", size: "500x300") %>
          <% end %>
        <% end %>
      <% end %>
      <i class="fa fa-retweet"> <%= tweet.retweet_count %> </i>
      <i class="fa fa-heart color:red"> <%= tweet.favorite_count %> </i>  
      <p><%= tweet.created_at.in_time_zone("Chennai").strftime("%d-%m-%Y %I:%M %p") %></p>
    </div>
  </div>
<% end %><br>
<% if @tweets.empty? %>
<b><p>No verified tweets found related to <%= Resource.find(params[:resource_id]).name.titlecase %> in <%= params[:city].titlecase %>.</p></b>
<%end%>
  